<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>twotwogo-op</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/spring/spring-main.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>struts</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter>
    <filter-name>loginCheck</filter-name>
    <filter-class>com.xiaoguo.jc.op.filter.LoginCheckFilter</filter-class>
    <init-param>
      <param-name>frontPage</param-name>
      <param-value>/login.action</param-value>
    </init-param>
    <init-param>
      <param-name>indexPage</param-name>
      <param-value>/index.action</param-value>
    </init-param>
    <init-param>
      <param-name>unchecked</param-name>
      <param-value>
			 /assets/,/common/,/login.,/login_login,/resetpwd_,/css_loadLogo,/druid/,/validateImg.jpg
			</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>urlCheck</filter-name>
    <filter-class>com.xiaoguo.jc.op.filter.UrlCheckFilter</filter-class>
    <init-param>
      <param-name>redirectUrl</param-name>
      <param-value>/noprivs.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>unchecked</param-name>
      <param-value>
				/assets/,/common/,/noprivs.jsp,/left.jsp,/head.jsp,/login.,/login_,/index.,
				/index_,*_pop,/area_,/resetpwd_,/common_,/upload/,/popup_,/druid/,/validateImg.jpg
			</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginCheck</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>urlCheck</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>no</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.space</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>acde2345678gfynmnpwx</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.obscurificator.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.ShadowGimpy</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.noise.impl</param-name>
      <param-value>com.google.code.kaptcha.impl.DefaultNoise</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.noise.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>宋体,Arial</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>40</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.background.clear.to</param-name>
      <param-value>white</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.word.impl</param-name>
      <param-value>com.google.code.kaptcha.text.impl.DefaultWordRenderer</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>kaptcha</servlet-name>
    <url-pattern>/validateImg.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.xiaoguo.jc.op.servlet.StartServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error/500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.action</welcome-file>
  </welcome-file-list>
</web-app>